/* This file controls the background color, text color, and text font. */

/* The font is "Crimson Text". */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body
{
    background-color: #000000;

    color: #e8e8e8;
    font-family: 'Crimson Text', serif;
}

