h1,
p {
    margin: 0 auto;
    max-width: 25em;
}

h1 {
    font-size: 45px;
    padding-top: 10%;
    padding-bottom: 5px;
}

p {
    font-size: 30px;
    padding-bottom: 40px;
    /*width: 600px;*/
    /* changed to 25em. */
}