/*h1,*/
p {
    margin: 0 auto;
    max-width: 25em;
    font-size: 30px;
    padding-bottom: 40px;
}

h1 {
    font-size: 45px;
}

/* Make the whole text centered.*/
article {
    padding: 0 20px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 80px;
    word-wrap: break-word;
}
