html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - var(--navbar-height, 56px));
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

p {
    margin: 0 auto;
    max-width: 25em;
    font-size: 30px;
    padding-bottom: 40px;
}

h1 {
    font-size: 45px;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 20px;
        padding-bottom: 20px;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    article {
        padding: 20px 10px;
        min-height: 90vh;
        justify-content: center;
    }
}