#Gmail {
    font-size: 43px;
    padding-top: 12%;
}

#Hotmail {
    font-size: 40px;
    /*padding-left: 6px;*/
}

#Github {
    font-size: 43px;
    /*padding-right: 210px;*/
}

h1 {
    padding: 0 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

.card {
    width: 100%;
    max-width: 24rem;
    background-color: #181818;
    color: #e8e8e8;
    margin: 0 auto;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1.5rem;
}

.card-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.card-icon {
    margin: 1rem 0;
}

.card-text {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.btn {
    width: auto;
    margin-top: auto;
}

/* Mobile Responsive */
/* For screen width less than 768px */
@media screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0.5rem;
    }

    .card {
        max-width: 100%;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 1rem;
    }
}