/*#Gmail {
    font-size: 43px;
    padding-top: 12%;
}*/

/*#Hotmail {
    font-size: 40px;
    /*padding-left: 6px;*/
/*}*/

/*#Github {
    font-size: 43px;
    /*padding-right: 210px;*/
/*}*/

h1 {
    padding: 0 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

.card {
    width: 100%;
    max-width: 24rem;
    background-color: #181818;
    color: #e8e8e8;
    margin: 0 auto;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1.5rem;
}

.card-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.card-icon {
    margin: 1rem 0;
}

.card-text {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.btn {
    width: auto;
    margin-top: auto;
}

/* Mobile Responsive */
/* For screen width less than 768px */
@media screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .card {
        max-width: 100%;
        height: auto;
    }

    .card-body {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "title title btn"
            "text text btn";
        padding: 0.75rem;
        text-align: left;
        align-items: center;
        column-gap: 1rem;
    }

    .card-icon {
        display: none;
        /* Hide SVGs on mobile */
    }

    .card-title {
        grid-area: title;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
        text-align: left;
    }

    .card-text {
        grid-area: text;
        font-size: 0.9rem;
        margin-bottom: 0;
        text-align: left;
    }

    .btn {
        grid-area: btn;
        margin: 0;
        padding: 0.25rem 0.5rem;
        font-size: 0.9rem;
        white-space: nowrap;
        align-self: center;
    }
}