h1,
p {
    left: 0;
    /*margin-top: -70px;*/
    position: absolute;
    text-align: center;
    top: 39.5%;
    width: 100%;
}

h1 {
    font-size: 65px;
}

p {
    top: 48%;
    font-size: 45px;
}