/* This file controls the navbar customizations. */

:root {
    /* Bootstrap default navbar height */
    --navbar-height: 56px;
}

/* Navbar color. */
.navbar {
    background-color: #181818;
}

/* Navbar link colors. */
.nav-link {
    color: #c1c1c1;
}

/* Navbar font sizes. */
.navbar .nav-link {
    font-size: 17px;
}

.navbar-brand {
    font-size: 21px;
}

/* Navbar link colors when hovered over. */
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #eeeeee;
}

/*--------------------*/

/* Dropdown menu background color */
.dropdown-menu {
    background-color: #181818;
}

/* Dropdown menu items text color */
.dropdown-item {
    color: #c1c1c1;
}

/* Dropdown item hover/focus state */
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #282828;
    color: #eeeeee;
}

/* Active nav link via aria-current="page" */
.navbar-dark .navbar-nav .nav-link[aria-current="page"] {
    color: #ffffff;
    font-weight: 600;
}